@model IEnumerable<SbdProjekto.Models.Odbiorca>

@{
    ViewData["Title"] = "Index";
}

<h1>Odbiorcy</h1>
<hr />
<p>
    <a class="btn btn-success" asp-action="Create">Nowy odbiorca</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Wyszukaj odbiorcę: <input placeholder="Wpisz imię/nazwisko" type="text" name="searchString" value="@ViewBag.Filter" />
            <input type="submit" value="Szukaj" class="btn btn-warning" />
            <a class="btn btn-primary" asp-action="Index">Wróć do wszystkich</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Order" asp-route-id="@item.OdbiorcaId">Zamówienia odbiorcy</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.OdbiorcaId">Edytuj</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.OdbiorcaId">Szczegóły</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OdbiorcaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
