@model SbdProjekto.Models.Kurier

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Kurier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rejon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rejon.RejonId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.KurierId">Edytuj</a> 

</div>
