@model SbdProjekto.Models.Rejon

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rejon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wojewodztwo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Wróć do listy </a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RejonId">Edytuj</a>

</div>
