@model IEnumerable<SbdProjekto.Models.Rejon>

@{
    ViewData["Title"] = "Index";
}

<h1>Rejony</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Stwórz rejon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wojewodztwo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wojewodztwo)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RejonId">Edytuj</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.RejonId">Szczegóły</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RejonId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
