@model IEnumerable<SbdProjekto.Models.Nadawca>

@{
    ViewData["Title"] = "Index";
}

<h1>Nadawcy</h1>
<hr />
<p>
    <a class="btn btn-success" asp-action="Create">Nowy nadawca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.NadawcaId">Edytuj</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.NadawcaId">Szczegóły</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NadawcaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
