@model IEnumerable<SbdProjekto.Models.Magazyn>

@{
    ViewData["Title"] = "Magazyny";
}

<h1>Magazyny</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">Nowy magazyn</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MagazynId" class="btn btn-primary">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.MagazynId" class="btn btn-primary">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.MagazynId" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
