@model SbdProjekto.Models.Zamowienie

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kurier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kurier.Imie) @Html.DisplayFor(model => model.Kurier.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nadawca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nadawca.Imie) @Html.DisplayFor(model => model.Nadawca.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odbiorca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odbiorca.Imie) @Html.DisplayFor(model => model.Odbiorca.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNadania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNadania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOdbioru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOdbioru)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Wróć do listy</a>
    <a asp-action="Edit" asp-route-id="@Model.ZamowienieId" class="btn btn-primary">Edytuj</a>
</div>
