@model SbdProjekto.Models.RodzajPrzesylki

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div> 
    <h4>Rodzaj Przesylki</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Wróć do listy</a>
    <a asp-action="Edit" asp-route-id="@Model.RodzajPrzesylkiId" class="btn btn-primary">Edytuj</a>
</div>
