@model IEnumerable<SbdProjekto.Models.RodzajPrzesylki>

@{
    ViewData["Title"] = "Rodzaje przesyłek";
}

<h1>Rodzaje przesyłek</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">Nowa przesyłka</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RodzajPrzesylkiId" class="btn btn-primary">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.RodzajPrzesylkiId" class="btn btn-primary">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.RodzajPrzesylkiId" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
